.avatar {
    max-width: 100%;
    max-height: 100%;
}

.title {
    font-size: 20px;
}

.info {
    position: absolute;
    width: 100%;
    padding: 8px;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
}

.name {
    font-weight: bold;
}

.root {
    width: 200px;
    height: 200px;
    position: relative;
}